<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new Post</h1>

  <div
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    class="form-control">
    <label for="title">Title</label>
    <input formControlName="title" id="title" type="text">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation">
      <small *ngIf="form.get('title').errors.required">This field is required</small>
    </div>
  </div>

  <div class="form-control">
    <label>Content of post</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
    class="form-control">
    <label for="title">Author</label>
    <input formControlName="author" id="author" type="text">
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation">
      <small *ngIf="form.get('author').errors.required">This field is required</small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid">Create</button>

</form>
