<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login</h2>

  <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
    {{error}}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control">
    <label for="email">Email</label>
    <input formControlName="email" id="email" type="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation">
      <small *ngIf="form.get('email').errors.required">This field is required</small>
      <small *ngIf="form.get('email').errors.email">Please enter valid email</small>
    </div>
  </div>


  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control">
    <label for="password">Password</label>
    <input formControlName="password" id="password" type="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation">
      <small *ngIf="form.get('password').errors.required">This field is required</small>
      <small *ngIf="form.get('password').errors.minlength">
        Password to short:
        {{form.get('password').errors.minlength.actualLength}}
        from
        {{form.get('password').errors.minlength.requiredLength}}
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted">Submit</button>
</form>
<br>
<br>
<p class="text-center">
  <small>admin@mail.com</small> <br>
  <small>123456</small>
</p>
